@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'General Sans', sans-serif;
  overflow-x: hidden;
}




@layer utilities {
  .purple{
    background-color: #0c021c;
  }
  .hero-background {
    background-image: url('/background-hero.png');
    background-size: cover;
    background-position: bottom ;
  }
  .navbar{
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgba(255,255,255,0.18);
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }

  .clip-path-circle {
    clip-path: circle(62.5% at 50% 98%);
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
